@CHARSET "UTF-8";

body {
	padding-top: 20px;
	padding-bottom: 40px;
}

.container1 {
	margin: auto;
	width: 960px;
}
/*内容部分*/
.maincontent {
	margin-top: 40px;
	height: auto;
}

.right-button {
	border-width: 3px;
	border-color: red;
	margin: 0;
	padding: 30px 0px 0px 3px;
}

.buttonspace {
	margin-left: 20px;
	padding: 20px 0px 0px 3px;
}
/*热门推荐等格式*/
.marketing p+h4 {
	margin-top: 28px;
}

.nav-pills>li>a {
	padding-top: 2px;
}

.fabu a {
	color: #FFFFFF;
	text-decoration: none;
}

#inputTitle {
	height: 30px;
	line-height: 30px;
}